body{
	font-family: Trebuchet MS;
}

h1{
	span{
		&.page-title{
			size: 25px;
			color: orange;
			font-weight: 700;
		}
	}
}

.student-front-block,.teacher-front-block,.admin-front-block{
  margin-top: 15px;
  height: 200px;
  width: 200px;
  border-style: solid;
  text-align: center;
  line-height: 200px;
  font-size: 65px;
  transition: transform .2s;

}

.student-front-block span,.teacher-front-block span,.admin-front-block span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.student-front-block:hover,.teacher-front-block:hover,.admin-front-block:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}