<label for="name">Name</label>
<input type="text" name="name">
<label for="lastname">Last Name</label>
<input type="text" name="lastname">
<label for="birthdate">Birth Date</label>
<input type="date" name="birthdate">