<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/app.css') }}">
    <title>School Manager {% block current_page %} {% endblock %}</title>

  </head>
  <body>
    {% block content %}

    {% endblock %}  

  </body>
</html>