  {% extends 'layout.html.twig' %}

  {% block current_page %} | Index page {% endblock %}
  {% block content %}

    <h1>Hello Admin {{ name }}!</h1>
    
    <div class="grid-container fluid">
        <div class="grid-x grid-margin-x">        
           <div class="admin-front-block cell small-12 medium-4"> <span><a href="">Student</a> </span>
           </div>
          <div class="admin-front-block cell small-12 medium-4">  <span><a href="">Teacher</a> </span>
           </div> 
          <div class="admin-front-block cell small-12 medium-4">  <span><a href="">Admin</a> </span>
           </div>               
          <div class="admin-front-block cell small-12 medium-4">  <span><a href="">Course</a> </span>
          </div>
          <div class="admin-front-block cell small-12 medium-4">  <span><a href="">Grade</a> </span>         
           </div>
         </div>
    </div>

  {% endblock %}


